{% extends parent_template|default:"user/base_user.html" %}

{% block title %}
{{ block.super }} - Thank you Page
{% endblock %}
{% block content %}
<div class="row">
  <div class="offset-by-two five columns">
    <h2>Thank you for registration</h2>
  </div>
</div>
<div class="three columns">
   <ul class="task-list">
     <li><a href="{% url 'login' %}">Login</a></li>
     <li><a href="{% url 'password_reset' %}">Reset password</a></li>
     <li><a href="{% url 'password_reset' %}">Password Change</a></li>
   </ul>
</div>

{% endblock %}